@using CourseShuffle.Data.Factory.FactoryData
@using CourseShuffle.Data.Objects.Entities
@model CourseShuffle.Data.Objects.Entities.Department

@{
    ViewBag.Title = "Details";
    var loggedinuser = Session["courseshuffleloggedinuser"] as AppUser;
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="panel panel-flat">

                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Name)
                            </div>

                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.Name)
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Description)
                            </div>

                            <div class="col-md-9 ">
                                @Html.DisplayFor(model => model.Description)
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.DateCreated)
                            </div>

                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.DateCreated)
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.DateLastModified)
                            </div>

                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.DateLastModified)
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </div>

                            <div class="col-md-9">
                                @(new AppUserFactory().GetAppUserById((int) Model.CreatedBy).DisplayName)
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.LastModifiedBy)
                            </div>

                            <div class="col-md-9">
                                @(new AppUserFactory().GetAppUserById((int) Model.LastModifiedBy).DisplayName)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new {id = Model.DepartmentId}, new {@class = "btn btn-primary"}) |
        @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-default"})

    </p>
</div>