@using CourseShuffle.Data.Service.Enum
@model IEnumerable<CourseShuffle.Data.Objects.Entities.AppUser>

@{
    ViewBag.Title = "Index";
}

<h2></h2>
@if (TempData["user"] != null)
{
    if (TempData["notificationtype"].Equals(NotificationType.Success.ToString()))
    {
        <div class="alert alert-success alert-dismissable" style="height: 30px">@TempData["user"]</div>
    }
    else if (TempData["notificationtype"].Equals(NotificationType.Danger.ToString()))
    {
        <div class="alert alert-danger alert-dismissable" style="height: 30px">@TempData["user"]</div>
    }
    else if (TempData["notificationtype"].Equals(NotificationType.Info.ToString()))
    {
        <div class="alert alert-info alert-dismissable" style="height: 30px">@TempData["user"]</div>
    }
}
<p>
    @Html.ActionLink("Create New", "Create",null,new {@class = "btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Othername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Othername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AppUserId },new {@class = "btn btn-primary"}) |
            @Html.ActionLink("Details", "Details", new { id=item.AppUserId},new {@class = "btn btn-default"} ) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AppUserId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
