@using CourseShuffle.Data.Factory.FactoryData
@model CourseShuffle.Data.Objects.Entities.Project

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="panel panel-flat">

            <div class="panel-body">
                <div class="col-md-12">
                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.Title)
                        </div>

                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.Title)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.Author)
                        </div>

                        <div class="col-md-9 ">
                            @Html.DisplayFor(model => model.Author)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.Category)
                        </div>

                        <div class="col-md-9 ">
                            @Html.DisplayFor(model => model.Category)
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.Department)
                        </div>

                        <div class="col-md-9 ">
                            @(new DepartmentFactory().GetAppUserDepartmet(Model.DepartmentId).Name)
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.Session)
                        </div>

                        <div class="col-md-9 ">
                            @(new SessionFactory().GetSessionById((int) Model.SessionId).Name)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </div>

                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.DateCreated)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.DateLastModified)
                        </div>

                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.DateLastModified)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </div>

                        <div class="col-md-9">
                            @(new AppUserFactory().GetAppUserById((int) Model.CreatedBy).DisplayName)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.LastModifiedBy)
                        </div>

                        <div class="col-md-9">
                            @(new AppUserFactory().GetAppUserById((int) Model.LastModifiedBy).DisplayName)
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new {id = Model.ProjectId}, new {@class = "btn btn-primary"}) |
        @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-default"})
    </p>
</div>