@model IEnumerable<CourseShuffle.Data.Objects.Entities.Courses>

@{
    ViewBag.Title = "Index";
}
@section css{
    <link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
}


<p>
    @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-success"})
</p>
<table class="table table-condensed table-hover" id="datatable">
    <thead>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level.Name)
        </th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.CoursesId}, new {@class = "btn btn-primary"}) |
                @Html.ActionLink("Details", "Details", new {id = item.CoursesId}, new {@class = "btn btn-default"}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.CoursesId}, new {@class = "btn btn-danger"})|
                @Html.ActionLink("Manage Content", "Create", "Contents", new {id = item.CoursesId}, new {@class = "btn btn-success"})
            </td>
        </tr>
    }
    </tbody>
</table>
@section scripts {

    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script>
        $(document)
            .ready(function() {
                $('#datatable').DataTable();
            });

    </script>
}