@using CourseShuffle.Data.Factory.FactoryData
@using CourseShuffle.Data.Objects.Entities
@using CourseShuffle.Data.Service.Enum
@model CourseShuffle.Data.Objects.Entities.Courses

@{
    ViewBag.Title = "Details";
    var loggedinuser = Session["courseshuffleloggedinuser"] as AppUser;
}

<h2></h2>
<div class="container">
    <div class="row">
        <div class="panel panel-flat">

            <div class="panel-body">
                <div class="col-md-12">
                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.CourseName)
                        </div>

                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.CourseName)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.CourseCode)
                        </div>

                        <div class="col-md-9 ">
                            @Html.DisplayFor(model => model.CourseCode)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.CreditUnit)
                        </div>

                        <div class="col-md-9 ">
                            @Html.DisplayFor(model => model.CreditUnit)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3 detailsDiv">
                            @Html.DisplayNameFor(model => model.Department.Name)
                        </div>

                        <div class="col-md-9 ">
                            @Html.DisplayFor(model => model.Department.Name)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </div>

                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.DateCreated)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.DateLastModified)
                        </div>

                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.DateLastModified)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </div>

                        <div class="col-md-9">
                            @(new AppUserFactory().GetAppUserById((int) Model.CreatedBy).DisplayName)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.LastModifiedBy)
                        </div>

                        <div class="col-md-9">
                            @(new AppUserFactory().GetAppUserById((int) Model.LastModifiedBy).DisplayName)
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new {id = Model.CoursesId}, new {@class = "btn btn-primary"}) |
        @if ((loggedinuser != null) && (loggedinuser.Role == UserType.Facilitator.ToString()))
        {
            @Html.ActionLink("Back to List", "GetCoursesForFacilitator", "Courses", new {departmentId = loggedinuser.DepartmentId}, new {@class = "btn btn-default"})
        }
        @if ((loggedinuser != null) && (loggedinuser.Role == UserType.Lecturer.ToString()))
        {
            @Html.ActionLink("Back to List", "GetCoursesForLecturer", "Courses", new {lecturerId = loggedinuser.AppUserId, departmentId = loggedinuser.DepartmentId}, new {@class = "btn btn-default"})
        }

    </p>
</div>